<link rel="stylesheet" href="~/css/equipe.css">
<main>
    <section class="container-grid cadastro-equipes">

        @if (ViewBag.UserName != null)
        {
            <form class="frm-cad-equipe" method="post"
                action="@Url.Action("Atualizar")" enctype="multipart/form-data">
                <div class="cadequipe-titulo">
                    <h1>Edição de Equipe</h1>
                    <hr>
                </div>

                <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

                <input class="campo-entrada" type="text" name="Nome"
                placeholder="Digite o nome da sua equipe:">

                <label class="foto" for="foto-file"></label>
                <input type="file" name="Imagem" id="foto-file">

                <button type="submit">Editar</button>
            </form>
        }
    </section>
</main>